{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ project.name }} - New task</h1>
    {{ form(form) }}

    <a href="{{ path('projects-list') }}">Go back to projects list</a>

    <style>
        select {
            display: inline;
        }
    </style>
{% endblock %}

