{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ project.name }} - Tasks</h1>
    {% include 'task/table.html.twig' %}

    <a href="{{ path('tasks-create', { 'id': project.id }) }}">Create a new task</a>
{% endblock %}

{% block javascripts %}
    <script>
        function bill(taskId, event) {
            fetch('/tasks/' + taskId + '/bill', {method: 'PATCH'})
                .then((response) => {
                    if (response.ok) {
                        event.target.innerHTML = '✔'
                    } else {
                        window.location = '{{ path('error') }}';
                    }
                });
        }
    </script>
{% endblock %}
