{% extends 'base.html.twig' %}
{% block body %}
    <p>Total tasks: {{ stats.tasksCount }}</p>
    <p>Total minutes: {{ stats.totalDuration.h }} hours and {{ stats.totalDuration.i }} minutes</p>
{% endblock %}

{% block javascripts %}
{% endblock %}
